{% extends "base.html" %}

{% block title %}Удаление вещи{% endblock %}

{% block content %}
<div class="auth-card">
    <h1>Удаление вещи</h1>
    <p>
        Вы уверены, что хотите удалить вещь:
        <strong>{{ item.name }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Удалить</button>

            <a href="{% url 'clothes:item_detail' item.pk %}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock content %}