﻿{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="main-content-form">
    <div class="form-container-minimal">
        <h2>Создать аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <small>{{ field.help_text|safe }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn form-submit-btn">Создать</button>
        </form>
        <div class="form-footer-link">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}